md-input-container.md-block.map-input-container(flex)
  md-autocomplete(
      md-floating-label="{{ 'Address' | translate }}"
       md-selected-item="$ctrl.selectedItem" 
       md-search-text="$ctrl.searchText" 
       md-items="item in $ctrl.getMatches($ctrl.searchText)" 
       md-item-text="item.display"
       md-input-name="autocomplete"
       md-min-length='4'
       md-delay='350'
       md-select-on-match='true'
       md-match-case-insensitive='true'
       md-menu-class="autocomplete-custom-template"
       md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"         
       md-selected-item-change="$ctrl.selectedItemChange(item)"
       )
    md-item-template
      span(md-highlight-text='$ctrl.searchPlaceText', md-highlight-flags='^i') {{item.name}} 
      span(md-highlight-text='$ctrl.searchPlaceText', md-highlight-flags='^i') {{item.formatted_address}} 
      span {{item.geometry.location.lat}} - {{item.geometry.location.lon}}
    md-not-found
      span Do you want to create a new place?
    div(ng-messages='placeForm.autocomplete.$error')
      div(ng-message='required') This is required.
      
  
    
div(map-lazy-load="https://maps.google.com/maps/api/js", map-lazy-load-params="{{googleMapsApiUrl}}")
  ng-map(zoom="15" default-style="true")
    marker(position="current", centered="true")
